body{
    margin: 0;
    text-align: center;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
}

/*************************************** Top Container Start ***************************** */
.top-container{

    background-color: #e4f9f5;
    padding-top: 30px;
    line-height: 2;
}

h1{
    font-size: 5.625rem;
    font-family: 'Sacramento', cursive;
    margin: 20px auto 0px auto;
    color: #66BFBF;
    line-height: 2;
}

h2{
    font-size: 2.5rem;
    margin-top: 15px auto 5px auto;
    color: #66BFBF;
    font-weight: normal;
}

.pro{
    font-weight: normal;
}

span{
text-decoration: underline;
}

.top-cloud{
    position: relative;
    top: 28px;
    left: 213px;
}

.bottom-cloud{
    position: absolute;
}

/*************************************** Middle Container Start ***************************** */
.profile{
width: 35%;
margin: auto;
} 

.skill-row{
    width: 50%;
    margin: 100px auto;
    text-align: left;
    line-height: 2;
}

h3{
    color: #11999E;
}

img.profile-img {
    border-radius: 50%;
    height: 250px;
    width: 250px;
}

img.design-img{
    width: 25%;   
    border-radius: 6%;
    float: left;
    margin : 0px 30px 0px auto;
}




img.skill-img{
    width: 25%;
    float: right;
    margin-left: 30px;
}
}

.btn{
    color: rgb(21, 106, 163);
}

.contact-me{
    line-height: 2;
}
/* Middle Container End ********** */


/*************************************** Bottom Container Start ***************************** */
.bottom-container{
    margin: 35px auto 0 auto;
    line-height: 2;
    padding: 30px;
    background-color: #66bfbf;
}

a.footer-link{
    color: #11999E;
    margin-right: 50px;
    font-weight: bold;

}

.footer-para{
    color: #eaf6f6;
}

/* Bottom Container End ********** */

hr{
    border: dashed;
    width: 4%;
    color: #03A9F4;
    font-weight: bolder;
    margin : 63px auto;
}

.btn{
    padding: 10px 15px;
    margin: 10px 10px;
    border: 3px solid white;
    background: none;
    color: white;
    background-color: #66bfbf;
    cursor: pointer;
    margin: 0px 5px;
}